@{
    ViewData["Title"] = "PETSHOP";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <nav class="box">
        <ul>
            <li><a href="."><button>HOME</button></a></li>
            <li><a href="/Cliente/novo_cliente"><button>NOVO CLIENTE</button></a></li>
            <li><a href="/Cliente/consultar_cliente"><button>CONSULTAR CLIENTE</button></a></li>
            <li><a href="/Produto/novo_produto"><button>NOVO PRODUTO</button></a></li>
            <li><a href="/Produto/consultar_produto"><button>CONSULTAR PRODUTO</button></a></li>
        </ul>
    </nav>
</div>