/* Global */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    font-family: 'Fjalla One', sans-serif;
}

body{
    color: #fff;
    background:#1B1C1D;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

a{
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

li{
    list-style-type: none;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
}

@media (min-width: 684px) {
    .container {
        max-width: 684px;
    }
}

@media (min-width: 972px) {
    .container {
        max-width: 972px;
    }
}

.content{
    width: inherit;
    text-align: center;
}

/*  Logo */
.logo{
    text-align: center;
    width: 100%;
}

.logo > .code-icon > img{
    width: 20%;
}

/*  Menu navegação */
.menu {
    padding: 0.5em;
    margin: 8px;
    width: 100%;
}

.menu > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 30px;
}

.menu > nav > ul> li> a:hover{
    color: #008744;
}

/*  Forumulário de contato */
.form-contact {
    margin: 0 auto;
    width: 70%;
    border-radius: 10px;
    padding: 1em;
    background-color: rgba(3, 8, 22, 0.1);
}

.form-contact div + div {
    margin-top: 1em;
}

.form-contact label {
    display: inline-block;
}

.form-contact input, textarea {
    width: 100%;
}

.form-contact button{
    background-color: #008744;
    color: #fff;
    font-size: 1.1em;
    border-radius: 3px;
    width:20%;
    margin-top: 5px;
    padding: 5px;
    float: right;
}

hr {
	border: 0;
	border-top: 1px solid #008744;
    opacity: 15%;
}



/*  Sessão pessoal */
.sobre, .objetivos{
    height: 100vh;
    display: flex;   
}

@media (max-width: 360px) {
    .sobre, .objetivos {
        height: 100vh;
        max-width: 360px;
        display: inline-block;
    }
}

@media (max-width: 320px) {
    .sobre, .objetivos {
        height: 100vh;
        max-width: 320px;
        display: inline-block;
    }
}

@media (max-width: 280px) {
    .sobre, .objetivos {
        height: 100vh;
        max-width: 280px;
        display: inline-block;
    }
}

.sobre, .objetivos, p{
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.social-media{
    position: relative;
    top: 25%;
}

.social-media p{
    font-family: 'Fjalla One', sans-serif;
}

.social-media i{
    margin-right: 15px;
    font-size: 1.5em;
}

.social-media > a:hover{
    color: #008744;
}
