/* 
    Author     : ITALO PIOVAN
*/

/* Global */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

*{
    font-family: 'Fjalla One', sans-serif;
}

body{
    color: #1B1C1D;
    background: #ffff;
    height: 100%;
    width: 100%;
}

header, footer {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

footer{
    bottom: 0;
    position: fixed;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.box {
    width: 250px;
    height: 250px;
}

li a button{
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    height: 50px;
}

a{
    text-decoration: none;
}

a:link {
    color: inherit;
}

a:visited {
    color: inherit;
}

li{
    list-style-type: none;
}

button:hover{
    background-color: #006666;
    color: #ffffff;
}

.back-home {
    float: left;
}

.back-home:hover {
    font-size: 1.2em;
}

.back-home a i {
    color: #006666;
}